.board{
	height: 600px;
	width: 600px;
	margin: 50px auto;
	border: 2px solid rgb(0,0,0);
	position: relative;
}
.board div:nth-child(even){
	float: left;
	height: 200px;
	width: 200px;
}
.board div:nth-child(odd){
	background: rgb(133,0,0);
	float: left;
	height: 200px;
	width: 200px;
}
.c1{
	height: 180px;
	width: 180px;
	margin: 10px 0px 0px 10px;
}
.c2{
	height: 180px;
	width: 180px;
	margin: 10px 0px 0px 13px;
}
.c3{
	height: 180px;
	width: 180px;
	margin: 8px 0px 0px 11px;
}